/* General */

* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

header { 
    border: 10px red;
    position: relative;
}

.header-banner h1 { 
 font-size: 50px;
 position: absolute;
 font-weight: 1000;
 top: 150px;
 left: 160px;
}

.header-banner img#logo-img { 
    height: 200px;
    width: 200px;
    position: absolute;
    top: 330px;
    left: 900px;
}

.header-banner img#banner-img { 
    height: 300px;
    width: 1000px;
    border: 1px solid;
    opacity: 90%;
    position: relative;
    margin: 150px 150px 0px 150px;
}

.header-navigate nav { 
    position:absolute;
    top: 600px;
    left: 200px;
    font-size: 35px;
} 

.events-title h2 { 
    background-color: black;
    font-size: 30px;
    color: white;
    text-align: center;
    height: 40px;
    width: 1000px;
    position: relative;
    left: 150px; 
}

.header-navigate nav > a {
    text-decoration: none;
    color:rgb(50, 50, 224);
    display: block;
    width: 100px;
    height: 150px;    
    font-size: 20px;
} 

/* Home page */ 

.events-days h3 { 
    font-style: italic;
    font-size: 20px;
    position: relative;
    height: 100x;
    top: 110px;
    left: 400px;
}

.events-days p { 
    font-size: 20px;
    position: relative; 
    height: 100px;
    top: 120px;
    left: 420px;
} 

/* About page */ 


/* Contact page */